# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/2022/05/.jpg
web/app/uploads/2022/05/.png
web/app/uploads/2022/05/.html
web/app/uploads/2022/05/.htaccess
web/app/uploads/forminator
web/app/uploads/.json
web/app/uploads/.gitkeep




!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log
CHANGELOG.md


# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
